/* allBills.css */

/* General page styling */
.all-bills-page {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;

    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading */
  .all-bills-page h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
  }
  
  /* Filter section styling */
  .filter-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  .filter-section label {
    font-size: 16px;
    color: #495057;
    margin-right: 10px;
  }
  
  .filter-section input {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .filter-section input:focus {
    border-color: #007bff;
  }
  
  /* Table styling */
  .table {
    width: 100%;
    border-collapse: collapse;
    /* background-color: #fff; */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .table thead {
    /* background-color: #007bff; */
    color: #fff;
  }
  
  .table thead th {
    padding: 12px 8px;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
  }
  
  .table tbody tr {
    border-bottom: 1px solid #dee2e6;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  .table tbody td {
    padding: 12px 8px;
    font-size: 14px;
    color: #111213;
  }
  
  .table tbody tr:hover {
    background-color: #e9ecef;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
    color: white;
  }
  .show-all-btn{
    display: inline-block;
    margin-top: 10px;
    background-color:transparent;
    color: black;
    border: 1px solid #00c6d1;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .add{
    border: 1px solid green;
    margin-left: 5px;
  }
  .show-all-btn:hover{
    background-color:#00c6d1;
    color: black;
    font-weight: 600;
   
  }
  .noData{
    color: #00c6d1;
  }
  
  
  /* Responsive design */
  @media (max-width: 768px) {
    .all-bills-page {
      padding: 10px;
    }
  
    .table thead th, 
    .table tbody td {
      font-size: 12px;
      padding: 10px 6px;
    }
  
    .filter-section {
      flex-direction: column;
      align-items: stretch;
    }
  
    .filter-section label {
      margin-bottom: 5px;
    }
  }
  
  .yellow-text {
    color: rgb(255, 200, 0) !important;
    
    font-weight: bold;
  }
  
  .green-text {
    color: green !important;
    font-weight: bold;
  }